<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-info' %> |

<%= link_to 'Back', users_path, :class => 'btn btn-warning' %>
